<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/edit_css.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="block" th:if="${#authorization.expression('hasRole(''ROLE_customer'')')}">
        <h2>Список заказов</h2>

        <div class="row">
            <div th:each="order: ${orders}">
                <a th:href="@{/orderInfo/{id}(id=${order.id})}">
                    <div class="card">
                        <div class="card_head">
                            <span class="username" th:text="${order.user.name}"></span>
                            <span class="category" th:text="${order.category}"></span>
                        </div>
                        <span class="order_name" th:text="${order.orderName}"></span><br>
                        <div class="description">
                            <span th:text="${order.description}"></span>
                        </div>
                        <div class="price">
                            <span th:text="${order.price}"></span>
                        </div>

                        <div class="img_delete" th:if="${#authorization.expression('hasRole(''ROLE_customer'')')}">
                            <a th:href="@{/deleteOrder/{id}(id=${order.id})}">
                                <img class="img1" src="/images/delete.png">
                            </a>
                        </div>

                        <div class="img_edit" th:if="${#authorization.expression('hasRole(''ROLE_customer'')')}">
                            <a th:href="@{/editOrder/{id}(id=${order.id})}">
                                <img class="img1" src="/images/edit.png">
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="block" th:if="${#authorization.expression('hasRole(''ROLE_freelancer'')')}">
        <h2>Список услуг</h2>
        <div class="row">
            <div th:each="announcement: ${announcements}">
                <a th:href="@{/announcementInfo/{id}(id=${announcement.id})}">
                    <div class="card">
                        <div class="card_head">
                            <span class="username" th:text="${announcement.user.name}"></span>
                            <span class="category" th:text="${announcement.category}"></span>
                        </div>
                        <span class="order_name" th:text="${announcement.name}"></span><br>
                        <div class="description">
                            <span th:text="${announcement.description}"></span>
                        </div>
                        <div class="price">
                            <span th:text="${announcement.price}"></span>
                        </div>
                        <div class="img_delete" th:if="${#authorization.expression('hasRole(''ROLE_freelancer'')')}">
                            <a th:href="@{/deleteAnnouncement/{id}(id=${announcement.id})}">
                                <img class="img1" src="/images/delete.png">
                            </a>
                        </div>

                        <div class="img_edit" th:if="${#authorization.expression('hasRole(''ROLE_freelancer'')')}">
                            <a th:href="@{/editAnnouncement/{id}(id=${announcement.id})}">
                                <img class="img1" src="/images/edit.png">
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>