<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
    <link rel="stylesheet" type="text/css" href="/static/css/edit_css.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="new_order" th:if="${#authorization.expression('hasRole(''ROLE_customer'')')}">
        <h2>Список ваших заказов:</h2>
        <ul>
            <li th:each="order : ${orders}">
                <div class="product">
                    <table border="1" cellpadding="5">
                        <tr>
                            <td><span th:text="${order.user.username}"></span></td>
                            <td><span th:text="${order.orderName}"></span></td>
                            <td><span th:text="${order.description}"></span></td>
                            <td><span th:text="${order.price}"></span></td>
                            <td><a th:href="@{/editOrder/{id}(id=${order.id})}"><img class="img1" src="/images/edit.png"></a> </td>
                            <td><a th:href="@{/deleteOrder/{id}(id=${order.id})}"><img class="img1" src="/images/delete.png"></a> </td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>

    <div class="new_service" th:if="${#authorization.expression('hasRole(''ROLE_freelancer'')')}">
        <h2>Список ваших услуг:</h2>
        <ul>
            <li th:each="announcement : ${announcements}">
                <div class="product">
                    <table border="1" cellpadding="5">
                        <tr>
                            <td><span th:text="${announcement.user.username}"></span></td>
                            <td><span th:text="${announcement.name}"></span></td>
                            <td><span th:text="${announcement.description}"></span></td>
                            <td><span th:text="${announcement.price}"></span></td>
                            <td><a th:href="@{/editAnnouncement/{id}(id=${announcement.id})}"><img class="img1" src="/images/edit.png"></a> </td>
                            <td><a th:href="@{/deleteAnnouncement/{id}(id=${announcement.id})}"><img class="img1" src="/images/delete.png"></a> </td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>