<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Order</title>
    <link rel="stylesheet" type="text/css" href="/static/css/new_order_css.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="form_new_order">
    <form th:method="POST" th:action="@{/saveOrder}" th:object="${order}">
        <table border="1" cellpadding="5">
            <tr>
                <td>Название заказа:</td>
                <td><input type="text" th:field="*{orderName}"/></td>
            </tr>
            <tr>
                <td>Категория:</td>
                <td>
                    <select th:field="*{category}">
                        <option value="">Выберите категорию</option>
                        <option value="Backend">Backend</option>
                        <option value="Frontend">Frontend</option>
                        <option value="Верстка">Верстка</option>
                        <option value="Нейросети">Нейросети</option>
                        <option value="Android-dev">Мобильная разработка</option>
                        <option value="Базы данных">Базы данных</option>
                        <option value="Системное программирование">Системное программирование</option>
                        <option value="ИБ">Информационная безопасность</option>
                        <option value="Тестирование">Тестирование</option>
                        <option value="DevOps">DevOps</option>
                        <option value="AI">Искусственный интеллект</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Описание:</td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td>Стоимость:</td>
                <td><input type="text" th:field="*{price}"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>