<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Order</title>
    <link rel="stylesheet" type="text/css" href="/static/css/new_order_css.css"/>
</head>

<body>
<div class="main_info">
    <a href="/getMainPage">
        <img class="logo" src="/images/logo.jpg">
        <span class="logo_name">Freelance Exchange</span>
    </a>
    <div class="name_and_logout">
        <div class="dropdown">
            <span class="my_role" th:text="${user_name}"></span>
            <div class="dropdown-content">
                <a href="/edit">Edit</a><br>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="form_new_order">
    <form th:method="POST" th:action="@{/saveOrder}" th:object="${order}">
        <table border="1" cellpadding="5">
            <tr>
                <td>Название заказа:</td>
                <td><input type="text" th:field="*{orderName}"/></td>
            </tr>
            <tr>
                <td>Описание:</td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>