<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/customer_requests.css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="block">
        <h2>Ваши запросы</h2>
        <div class="row">
            <div th:each="request: ${tasks_fr}">
                <div class="card">
                    <div class="options">
                        <span class="user_from_name" th:text="${request.userFrom.name}"></span>
                    </div>
                    <div class="options">
                        <span class="status" th:text="${request.status}"></span>
                    </div>
                    <div class="options">
                        <span class="order_name" th:text="${request.order.orderName}"></span>
                    </div>

                    <div class="img_reject">
                        <a th:href="@{/rejectRequest/{id}(id=${request.id})}">
                            <img class="img_req" src="/images/reject.png">
                        </a>
                    </div>
                    <div class="img_accept">
                        <a th:href="@{/acceptRequest/{id}(id=${request.id})}">
                            <img class="img_req" src="/images/accept.png">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>