.main_info {
    border-bottom: 1px solid black;
    position: relative;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-left: 30px;
    margin-right: 50px;
}

.logout {
    position: absolute;
    right: 0;
    top: 10%;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.logo_name {
    font-size: 50px;
    position: absolute;
    top: -7%
}

.my_role {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 15%;
    right: 10%;
    margin-right: 5px;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.container {
    display: flex;
    height: 100vh;
}

.left_block {
    position: relative;
    border-right: 1px solid black;
    width: 70%;
    height: 100%;
}

.new_order {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 25vh;
    height: 4vh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
ul {
    list-style-type:  none;
}

.new_order_span {
    font-size: 20px;
    background-color: green;
    border-radius: 30%;
    padding: 5px 20px;
}

.right_block {
    width: 30%;
    height: 100%;
}

td:nth-child(1) {
    width: 100px;
}
td:nth-child(2) {
    width: 200px;
}
td:nth-child(3) {
    width: 150px;
}
td:nth-child(4) {
    width: 250px;
}
td:nth-child(5) {
    width: 100px;
}
