*{
    margin: 0;
    padding: 0;
}

.main_info {
    border-bottom: 1px solid black;
    position: relative;
    background: linear-gradient(to right, #F5F5F5, #E8E8E8);
    border-radius: 5px;
    margin-bottom: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-left: 30px;
    margin-right: 50px;
}

.logout {
    width: 25px;
    height: 25px;
}

.my_role {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.name_and_logout {
    display: flex;
    top: 5%;
    position: absolute;
    right: 1%;
}

.logo_name {
    font-size: 50px;
    position: absolute;
    top: -7%
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F8F8F8;
    border-radius: 5px;
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: line-height 0.5s, color 0.5s;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.img_mess {
    width: 30px;
    height: 30px;
}

.request {
    margin-right: 20px;
    display: flex;
    margin-top: 10px
}

.tasks_fr {
    margin-right: 10px;
}

.new_order {
    position: absolute;
    right: 120px;
    top: 8px;
    width: 25vh;
    height: 4vh;
}

.new_order_span {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #FF6347;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 20px;
}

.new_order_span:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 10px red;
}
