a:hover {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.container {
    display: flex;
    height: 100vh;
    border-radius: 10px;
}

.left_block {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin: 15px;
    width: 60%;
    height: 100%;
}

.right_block {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid black;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
ul {
    list-style-type:  none;
}

td:nth-child(1) {
    width: 100px;
    max-width: 100px;
}
td:nth-child(2) {
    width: 100px;
    max-width: 100px;
}
td:nth-child(3) {
    width: 250px;
    max-width: 250px;
}
td:nth-child(4) {
    width: 70px;
    max-width: 70px;
}
td:nth-child(5) {
    width: 45px;
    max-width: 45px;
}
td:nth-child(6) {
    width: 45px;
    max-width: 45px;
}

.img1 {
    width: 40px;
    height: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 30px;
    border: 1px;
    width: 210px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    background-color: #F2E8C9;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    background-color: #3EB489;
    box-shadow: 1px 1px 40px 20px #3EB489;
}

a, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}


h2 {
    margin-left: 30px;
    margin-top: 15px
}


