a:hover {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.container {
    display: flex;
    height: 100vh;
    border-radius: 10px;
}

.left_block {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin: 15px;
    width: 60%;
    height: 100%;
}

.right_block {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid black;
    background-color: #F5F5F5;
}

.new_order {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 25vh;
    height: 4vh;
}

.new_service_span {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 25vh;
    height: 4vh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
ul {
    list-style-type:  none;
}

.new_order_span {
    font-size: 20px;
    background-color: #FF6347;
    border-radius: 20px;
    padding: 5px 20px;
}

td:nth-child(1) {
    width: 100px;
    max-width: 100px;
}
td:nth-child(2) {
    width: 100px;
    max-width: 100px;
}
td:nth-child(3) {
    width: 250px;
    max-width: 250px;
}
td:nth-child(4) {
    width: 70px;
    max-width: 70px;
}
td:nth-child(5) {
    width: 45px;
    max-width: 45px;
}
td:nth-child(6) {
    width: 45px;
    max-width: 45px;
}

.img1 {
    width: 40px;
    height: 40px;
}

