.img1 {
    width: 80px;
    height: 80px;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margins */
}

.card {
    position: relative;
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 70%;
    height: 90%;
    padding: 40px;
    margin: 20px;
    background-color: #F2E8C9;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}


.card:hover {
    /*background-color: #3EB489;*/
    box-shadow: 1px 1px 40px 20px #3EB489;
}

.card_head {
    margin-bottom: 10px;
    position: relative;
}

.card_head .username {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 90px;
    font-weight: bold;
}

.card_head .category {
    margin-top: 0;
    margin-right: 5px;
    position: absolute;
    font-size: 90px;
    right: 20%;
    color: #666;
}

.card .order_name {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 80px;
    font-style: italic;
    color: #009688;
}

.card .description {
    max-height: 350px;
    margin: 7px 10px;
    font-size: 30px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}
.card .price {
    margin-top: 7px;
    position: absolute;
    bottom: 20px;
    left: 36%;
    font-size: 65px;
    font-weight: bold;
    color: #009688;
    display: flex;
}

.img_delete {
    position: absolute;
    border-radius: 50%;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 80px;
    height: 80px;
}

.card:hover .img_delete {
    opacity: 1;
}

.img_delete:hover {
    box-shadow: 1px 1px 10px 10px #ff2c2c;
    transition: box-shadow 0.3s ease;
}

.img_send {
    position: absolute;
    border-radius: 50%;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 80px;
    height: 80px;
}

.card:hover .img_send {
    opacity: 1;
}

.img_send:hover {
    box-shadow: 1px 1px 15px 15px #9ef184;
    transition: box-shadow 0.3s ease;
}

.img_edit {
    position: absolute;
    right: 0;
    top: 15%;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 80px;
    height: 80px;
}

.card:hover .img_edit {
    opacity: 1;
}

.img_edit:hover {
    box-shadow: 1px 1px 15px 15px #9ef184;
    transition: box-shadow 0.3s ease;
}